@import url('reset.css');

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
	color: #3D3D3D;
	font-family: 'Montserrat', sans-serif;
}

/* !SITE */
/* header */
.container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	padding: 30px 0 12px;
}

.header-container {
	font-size: 0;
	border-bottom: 1px solid rgba(70, 163, 88, .1);
}

.header-logo,
.header-list,
.header-list li,
.header-btn {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

.header-logo {
	width: 150px;
}

.header-list {
	margin-top: 10px;
	width: 950px;
	text-align: center;
}

.header-list li {
	padding-bottom: 18px;
}

.header-list li.active {
	font-weight: 900;
	border-bottom: 2px solid #46A358;
}

.header-list li+li {
	margin-left: 50px;
}

.header-list li a {
	color: inherit;
	text-decoration: none;
}

.header-btn {
	width: 100px;
	padding: 8px 17px 7px;
	background: #46A358;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
}

.header-btn img {
	vertical-align: middle;
	margin-right: 1px;
}

.color-green {
	color: #46A358;
}


/* ASIDE AND MAIN  */
/* !PLUGIN eCSStractor for VSCode */
.container {
	margin-top: 50px;
}

.page {
	background: orange;
}

.aside {
	background: #FBFBFB;
	width: 310px;
	float: left;
	padding: 14px 18px 0;
}

.aside-list {
	min-height: 774px;
}

.aside-list>li {
	padding: 15px ;
}

.aside-list>li a {
	color: inherit;
	text-decoration: none;
}

.aside>h3 {
	font-weight: 700;
}

.aside-img {
	margin: 0 -18px;
}

.main {
	width: 840px;
	float: right;
}

.products li a{
	color: inherit;
	text-decoration: none;
}

.products-sort {
	color: inherit;
	text-decoration: none;
}

.products-sort-list>li {
	padding: 0 15px;
	float: left;
}

.products-filter {
	float: right;
	padding-left: 200px;
}

.products-filter {
	color: inherit;
	text-decoration: none;
}
.products-cards {
	margin: 0 -15px;
}

.products-card {
	width: 33.333%;
	float: left;
	padding: 0 15px;
}

.products-card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	margin: 0 0 20px;
}

.mr-30 {
	margin-right: 30px;
}

.products-card>p{
	color: #46A358;
	font-size: 18px;
	font-weight: 700;
}